<header class="flex w-full justify-center items-center h-[90px] bg-[#FFFFFF] shadow-md">
  <a href="" aria-label="Banco - Logo">
    <svg class="h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 178 36.502">
      <g transform="translate(0 0.502)">
        <g transform="translate(-1666 -1248.743)">
          <g transform="translate(1666 1258.743)" fill="none" stroke="#051b54" stroke-width="3">
            <rect width="41" height="26" rx="3" stroke="none"/>
            <rect x="1.5" y="1.5" width="38" height="23" rx="1.5" fill="none"/>
          </g>
          <path
            d="M-5367.273,2851.768v-5.821l.518-.716.664-.369,25.673.149,10.591.062.824.236.511.494V2862.9l-.5.367-.682.112h-3.715"
            transform="translate(7043.49 -1595.12)" fill="none" stroke="#051b54" stroke-width="3"/>
          <g transform="translate(1681 1265.743)" fill="none" stroke="#051b54" stroke-width="3">
            <circle cx="6" cy="6" r="6" stroke="none"/>
            <circle cx="6" cy="6" r="4.5" fill="none"/>
          </g>
        </g>
        <text transform="translate(122 29)" fill="#051b54" font-size="32" font-family="Georgia">
          <tspan x="-55.648" y="0">BANCO</tspan>
        </text>
      </g>
    </svg>
  </a>
</header>
