/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;



/*
* Global Styles
*/

body {
  background-color: #F9FAFC;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #EAEBF1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #6A6A6F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3A3A3E;
  border-radius: 10px;
}

